html
    head
        title Express
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    
    body.container
        
        p WELCOME TO MAUSAMS HOME NEPAL

            //- form(action="/auth/register", method="POST" ).form-group 
            form(method="POST").form-group 
                label(for="username") username
                input(type="text", placeholder="username",name="username").form-control
                label(for="password") password
                input(type="pasword", placeholder="userName",name="password").form-control
                input(type="submit",value="login").btn.btn-primary
                p Dont have an account?
                p register 
                a(href="#") here



