html
    head
        title Express
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    
    body.container
        
        p WELCOME TO MAUSAMS HOME NEPAL

            form(action="", method="POST" ).form-group 
                label(for="userName") userName
                input(type="text", placeholder="userName",name="userName").form-control
                label(for="password") password
                input(type="pasword", placeholder="userName",name="password").form-control
                input(type="submit",value="login").btn.btn-primary
                p Dont have an account?
                p register 
                a(href="#") here